{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Restaurant</th>
            <th>Address</th>
            <th>City</th>
            <th>Postcode</th>
        </tr>
        {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>{{ restaurant.city }}</td>
            <td>{{ restaurant.postcode }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}